* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.top #background {
    background-image: url('./public/images/main_background.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: 200%;
    background-repeat: no-repeat;
}

.top #background #black-filter {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}


.top #centred-title h2{
    color: rgba(255, 255, 255, 0.3);
    font: bold 5vh 'Arial', 'Helvetica', sans-serif;
    text-transform: lowercase;
    margin-top: -4vh;
}

.top #centred-title h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font: bold 20vh 'Arial', 'Helvetica', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2.5vh;
    margin: 0;
}

.top #centred-title #ashures-main {
    z-index: 10;
}

.top #centred-title #ashures-blue {
    z-index: 5;
    color: rgba(0, 255, 255, 0.7);
}

.top #centred-title #ashures-pink {
    z-index: 1;
    color: rgba(255, 105, 180, 0.7);
}

.top #background #black-filter #char-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('./public/images/johnny-silverhand.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 20;
}